<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-5">
      <form action="#" class="form-group">
        <h3>Login Here</h3>
        <input type="text" placeholder="username" class="form-control" required>
        <br>
        <input type="password" placeholder="password" class="form-control" required>
        <br>
        <a href="#">forgot password ?</a>
        <br>
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
        <br>
        <!-- <button class="btn btn-primary btn-group">Sign in</button> -->
        <button class="btn btn-primary btn-group btn-md btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>